/* Import Catppuccin Theme */
@import "./macchiato.css";

* {
    /* Reset ALL css */
    all: unset;

    font-family: "JetBrainsMono Nerd Font", monospace, serif;
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: white;
}

/* Modules Right */
.modules-left, .modules-right, #workspaces button {
    background-color: @base;
    padding: 2px 12px;
    border: 1px solid @green;
    border-radius: 12px;
}

/* Workspaces */
#workspaces button {
    margin-left: 4px;
    margin-right: 4px;
    /* Animations */
    transition: background-color 0.2s ease, padding 0.15s ease;
}

#workspaces button:hover, #workspaces button.active {
    padding: 0 28px;
}
